<div class="container">
  <div class="card">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
    <label for="first name">First Name</label>
      <input name="firstName" type="text" id="firstName" placeholder="Enter your first name">

      <label for="last name">Last Name</label>
      <input name="lastName" type="text" id="lastName" placeholder="Enter your last name">

      <label for="username">Username</label>
      <input name="userName" type="text" id="userName" placeholder="Enter your username">

      <label for="email">Email</label>
      <input name="email" type="text" id="userName" placeholder="Enter your email">

      <label for="email">Password</label>
      <input name="password" type="password" id="password" placeholder="Enter your password">
      
      <button type="submit">Sign up</button>
      <div class="text-center">
        <p>Alreadt have an Account? <a href="/">Login Now!</a></p>
      </div>
    </form>
  </div>
</div>